//
@import '../../styles/utilities/mixin';
$nav-padding: 0 10%;
.navbar {
	display: flex;
	@include desktop {
		display: inline-flex;
	}

	width: 100%;
	justify-content: space-between;
	height: 10vh;
	min-height: 50px;
	align-items: center;
	max-width: 100vw;
	box-sizing: border-box;
	overflow-x: hidden;

	.navbrand {
		padding: $nav-padding;

		a {
			@include btn-text-unselect;
		}
	}

	%navcollapse {
		padding: $nav-padding;
		@include btn-text-unselect;
		cursor: pointer;
		transition: 0.5s;
	}

	.navcollapseStraight {
		@extend %navcollapse;
	}

	.navcollapseRotate {
		@extend %navcollapse;
		transform: rotate(90deg);
	}

	.navitems {
		display: none;
		@include desktop {
			display: inline-flex;
			padding: $nav-padding;

			a {
				@include btn-text-unselect;
				padding: 10px;
				margin: 20px;
				white-space: nowrap;
				cursor: pointer;
				border-bottom: 2px solid transparent;
				border-top: 2px solid transparent;
				transition: 0.1s;

				&:hover {
					border-bottom-color: black;
					transition: 0.5s;
				}
			}
		}
	}

	.navitemsSmall {
		display: flex;
		position: absolute;
		height: 92vh;
		width: 250px;
		background-color: white;
		flex-direction: column;
		z-index: 9;
		top: 10vh;
		right: 0;
		padding: 10% 10%;
		box-sizing: border-box;
		align-items: center;
		max-height: 100vh;
		box-shadow: -10px 10px 5px rgba(black, 0.1);

		a {
			@include btn-text-unselect;
			margin: 25px 10%;
			white-space: nowrap;
			cursor: pointer;
		}
	}
}
