//
@import './utilities/mixin';

.arrowContainer {
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: 47.5vh;
	z-index: 15;
	a {
		padding: 50px 20px;
		background-color: rgba(black, 0.1);
		color: white;
		cursor: pointer;
		@include btn-text-unselect;

		&:hover {
			background-color: darken(rgba(black, 0.4), 50);
		}
	}
}
